//// FONTS ////
  $mainFont: Rosarivo;
  $secondaryFont: Satisfy;
//// END FONTS ////

//// OVERLAY ////
  $overlayFadeOutDuration: 1.5s;
//// END OVERLAY ////

//// ARTICLE ////
  $articlePictureWidth: 35%;
  $articleFontSize: 20px;
  $articleBlockMarginBottom: 15px;
//// END ARTICLE ////
